@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: url("./background.png.png")
}

.main {
    background: #cccccc;
    width: 550px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.badge {
    background: #ee6666;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;

}

.clock {
    background: #ebebeb;
    text-align: center;
    font-size: 80px;
    height: 100%;
    padding-top: 10px;
    font-family: barriecito;
    border-radius: 4px;
}